
/*headr conten css*/


header{
    background: #fafa3e;
    position: relative;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 100%;
    height: 4vw;

}

header>img{
    position: absolute;
    left: 2vw;
}

header>nav{
    background: #fa7bf3;
    position: absolute;
    width: fit-content;
    right: 0;
    top: 0;

}

header>nav>dl{
    display: inline-block;
    margin-right: 2vw;

}


/*side bar css*/

main{
    position: relative;

}


main>aside{
    background: purple;
    position: absolute;
    width: 250px;
    top: 0;
    bottom: 0;

}

main>aside>nav{

    position: absolute;
    width: fit-content;
    left: 2vw;
    margin-top: 3vw;
    top: 0;

}

main>aside>nav>dl{
    color: white;
    margin-top: 2vw;

}


/*conten*/

main{
    border-top: 4px solid black;
}

main>section{
    position: relative;
    margin: 0;
    margin-left: 260px;



}

main>section>p{
    margin: 0;

}

main>section>div>div{
    position: relative;
    background: #ff253a;
    display: inline-block;
    width: calc(77vw / 3);
    height: 50vh;
    box-sizing: border-box;
    top: 2px;

}

main>section>div>div>img{
    width: calc(77vw / 3);
    height: 50vh;
    border: 3px solid black;
    margin-right: 0;

}

footer{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background: gray;
    height: 2vw;
    margin: 0;

}
footer > span {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    color: white;

}

